.navbar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-button {
    margin: 20px;
    padding: 8px 16px; /* Adjust padding as needed */
    background-color: #3498db; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #2980b9; /* Set your desired hover background color */
}

.navbar-link {
    margin-right: 10px;
    padding: 8px 16px; /* Adjust padding as needed */
    background-color: #3498db; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-link:hover {
    text-decoration: underline; /* Underline on hover, adjust as needed */
}